/*Input field format*/
.nameField {
    display:inline-block;
    width:10%;
    text-align: left;
    padding: 14px 10px 0 0;
    margin:0 0 7px 0;
}

.inputField {
    display:inline-block;
    width:25%;
    margin:0 0 7px 0;
}

/*Table format*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

button {
    /*background-color: #007bff;
    color: white;
    border: none;*/
    padding: 5px 10px;
    margin:14px 0 7px 0;
    cursor: pointer;
}

/*button:hover {
    background-color: #0056b3;
}*/

form {
    margin-top: 20px;
}

/*width 100%*/
input {
    width: auto;
    padding: 10px;
    margin: 5px 0;
}

/*button[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #1d9237;
}*/

.button-container {
    display: flex;
    justify-content: flex-start;
    /* This aligns the content to the left */
    align-items: center;
    gap: 10px; /* Adjust the gap between buttons */
    margin-top: 10px; /* Add some margin to separate it from the form inputs */
    /* Add some margin to separate it from the form */
}

/* Update your component's CSS file (best-sellers.component.css) */
.form-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between form inputs */
}

.button-container button {
    white-space: nowrap; /* Prevent button text from wrapping */
}


.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.success-message {
    color: green;
    font-size: 14px;
    margin-top: 5px;
}

/*Modal*/
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: none;
    /* opacity: 0; */
    pointer-events: all;
    transition: all 0.3s;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    & > div {
        max-width: 100%;
        max-height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: auto; /* Enable scroll */
        padding: 2em;
        background: white;
    }
    & header {
        font-weight: bold;
    }
    & h1 {
        font-size: 150%;
        margin: 0 0 15px;
    }
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    &:hover {
        color: black;
    }
}

/* Demo Styles */

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
    line-height: 1.4;
}

/*body {
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 600;
    background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
    color: black;
}*/

a {
    color: inherit;
    text-decoration: none;
}
/*
.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}*/

.modal-window {
    & > div {
        border-radius: 1rem;
    }
}

.modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
}


small {
    color: lightgray;
}

.btn {
    background-color: white;
    padding: 1em 1.5em;
    border-radius: 0.5rem;
    text-decoration: none;
    & i {
        padding-right: 0.3em;
    }
}
